<html ng-app="myApp">  
    <head lang="en">
        <meta charset="utf-8">
        <title>Getting Started With ngGrid Example</title>  
        <link rel="stylesheet" type="text/css" href="../node_modules/ng-grid/ng-grid.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="../node_modules/ng-grid/ng-grid-2.0.1.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </head>
    <body ng-controller="MyCtrl">
        <div>
            <label>Skill:</label><input ng-model="skill">
        </div>
        <div>
        <label>Category:</label>
        <select ng-model="myColor" ng-options="category.name for category in categories">
          <option value="">-- choose color --</option>
        </select>
        </div>
        <div>
        <button ng-click="addSkill()">Submit</button>
        </div>
        <div class="gridStyle" ng-grid="gridOptions"></div>        
    </body>
</html>