<html ng-app="skillController">

<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/tableStyle.css" />

<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>

<script src="js/skills.js"></script>
<div class="container" ng-controller="SkillCtrl">
    <h3>Add employee skill details: </h3>
    <form role="form" ng-submit="addSkills()">
        <div class="row">
            <div class="input-group">
                Name:
                <input type="text" ng-model="skill" placeholder="Enter skill detail" class="form-control">
                Category:
                <select name="category" ng-model="category">
                    <option value="">-- choose category</option>
                    <option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>
                </select><br/><br/>
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
            </div>
        </div><br/><br/>
        <h3>Listing: </h3>
        <table ng-table class="table">
            <th>NAME</th>
            <th>CATEGORY</th>
            <th>ACTION</th>

            <tr ng-repeat="data in myData | orderBy: 'name'">
                <td>{{data.name}}</td>
                <td>{{data.category}}</td>
                <td><button ng-click="remove(data.name)">Remove</button></td>
            </tr>
        </table>
    </form>
</div>
</html>